<template>
  <div>
    <v-form>
      <v-container grid-list-xl>
        <v-card>
          <v-container grid-list-xl>
            <v-layout wrap align-center>
              <v-flex>
              <v-select
                  label="Project"
                  :items="allProjects"
                  :loading="projectsLoading"
                  v-model="project_id"
                  item-text="name"
                  item-value="id"
              >
              </v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-container>
    </v-form>
    <v-container>
      <v-card>
        <v-container fluid>
          <v-layout column align-center>
            <v-layout row align-center>
              <v-btn class="mx-2" :loading="loading" color="primary" @click="fetchArtifacts" :disabled="!project_id">
                Refresh
              </v-btn>
            </v-layout>
            <div>Total size: {{ humanFileSize(total) }}</div>
            <div>Archives total size: {{ humanFileSize(archiveTotal) }}</div>
            <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
            ></v-text-field>
            <v-data-table
                :hide-default-footer="true"
                :items-per-page="1000"
                :headers="headers"
                :loading="loading"
                :single-expand="false"
                item-key="job_id"
                :items="artifacts"
                :search="search"
            >
              <template v-slot:item.size="{ item }">
                {{humanFileSize(item.size)}}
              </template>
              <template v-slot:item.job.started_at="{ item }">
                {{moment(item.job.started_at).fromNow()}}
              </template>
              <template v-slot:item.action="{ item }">
                <div class="d-flex">
                  <div
                      v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
                      title="Delete archive"
                  >
                    <v-btn
                        :small="true"
                        text icon
                    >
                      <v-icon @click="deleteArtifact(item)">delete</v-icon>
                    </v-btn>
                  </div>
                </div>
              </template>
            </v-data-table>

          </v-layout>
        </v-container>
      </v-card>
    </v-container>
  </div>
</template>

<script>
  import { del, get } from '@/utils/axios'
  import {sortBy} from "underscore"
  import {mapGetters} from "vuex"
  import {humanFileSize} from '@/utils/utils'

  export default {
    name: 'Settings',
    data: () => ({
      search: '',
      loading: false,
      projectsLoading: false,
      jobs: [],
      artifacts: [],
      allProjects: [],
      project_id: null,
      total: 0,
      archiveTotal: 0
    }),
    mounted() {
      this.fetchProjects()
    },
    computed: {
      ...mapGetters({
        groups: 'gitlab/groups'
      }),
      headers() {
        return [
          { text: 'Reference', value: 'job.ref' },
          { text: 'Job Name', value: 'job.name' },
          { text: 'Size', value: 'size' },
          { text: 'Started', value: 'job.started_at' },
          { text: 'Actions', value: 'action', sortable: false }
        ]
      }
    },
    methods: {
      humanFileSize(bytes, si=false, dp=1) {
        return humanFileSize(bytes, si, dp)
      },
      async fetchProjects() {
        this.projectsLoading = true
        this.allProjects = []
        for(const group of this.groups) {
          const projects = (await get('groups/' + group.id)).data.projects
          projects.forEach(p => p.group = group)
          this.allProjects = [...this.allProjects, ...projects]
        }
        this.allProjects = sortBy(this.allProjects, 'name')
        this.projectsLoading = false
      },
      async deleteArtifact(artifact) {
        await del(`projects/${this.project_id}/jobs/${artifact.job.id}/artifacts`)
      },
      async fetchArtifacts() {
        try {
          this.artifacts = []
          this.loading = true
          this.jobs = await get(`projects/${this.project_id}/jobs`, false, response => {
            for (const job of response.data) {
              if (job.started_at) {
                const age = (new Date() - new Date(job.started_at)) / (3600000 * 24)
                if (age > 30) {
                  return true
                }
              }
            }
            return false
          })

          this.loading = false
          this.total = 0
          this.archiveTotal = 0

          for (const job of this.jobs.data) {
            for (const artifact of job.artifacts) {
              this.total += artifact.size
              if (artifact.file_type === 'archive') {
                this.artifacts.push({
                  job,
                  size: artifact.size
                })
                this.archiveTotal += artifact.size
              }
            }
          }
        } finally {
          this.loading = false
        }
      }
    }
  };
</script>
