<template>
  <div>
    <v-avatar
      size="32"
      style="margin-right: 0.5em;"
      v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
      :title="item.author_name"
    >
      <v-img :src="getAvatarUrl(item)"></v-img>
    </v-avatar>
    {{item.author_name}}
  </div>
</template>
<script>
import { GlTooltipDirective } from '@gitlab/ui'
import md5 from 'blueimp-md5'

export default {
  props: {
    item: {
      type: Object
    }
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  methods: {
    getAvatarUrl(item) {
      const user = this.$store.getters['gitlab/getUser'](item.author_name)
      if (user) {
        return user.avatar_url
      } else {
        return `https://www.gravatar.com/avatar/${md5(item.author_email.toLowerCase())}`
      }
    }
  }
}
</script>