<template>
  <v-form>
    <v-container>
      <v-card>
        <v-container grid-list-xl>
          <v-row align="center" class="ml-0">
            <draggable
                v-model="selectedBranches"
                v-bind="dragOptions"
                @start="onStart"
                @end="onEnd"
            >
              <transition-group type="transition">
                <span
                    v-for="item in selectedBranches"
                    class="branch-chip"
                    :key="item"
                >
                  <v-chip
                    :close=true
                    :small=true
                    :color="item == currentBranchName ? 'primary' : null"
                    :outlined="isOutlined(item)"
                    @click="selectBranch($event, item)"
                    @click:close="removeBranch(item)"
                  >
                    <div style="margin-right: 5px">
                      <span v-if="isProtected(item)">
                        <v-icon small class="tab-icon">lock</v-icon>
                      </span>
                      <span v-else-if="getIssueImage(item)">
                        <img
                          width="16"
                          class="tab-icon"
                          :src="getIssueImage(item)"
                        />
                      </span>
                      <span v-else>
                        <v-icon small class="tab-icon">mdi-source-branch</v-icon>
                      </span>
                    </div>
                    <span style="text-transform: none;">
                      {{ item }} {{getBranchCount(item)}}
                    </span>
                  </v-chip>
                </span>
              </transition-group>
              <template v-slot:footer>
                <SelectBranches
                    v-model="selectedBranches"
                    :sorted-branches="sortedBranches"
                    @select="addBranch"
                />
              </template>
            </draggable>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <v-container>
      <v-card>
        <transition>
          <keep-alive>
            <router-view :key="currentBranchName">
            </router-view>
          </keep-alive>
        </transition>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
  import {mapGetters} from 'vuex'
  import { last } from 'underscore'
  import Sortable from 'sortablejs'
  import draggable from 'vuedraggable'
  import SelectBranches from '@/components/SelectBranches.vue'

  export default {
    name: 'Dashboard',
    data: () => ({
      mounting: false,
      currentBranchNameValue: null,
      loading: false,
      allProjects: [],
      dragging: false
    }),
    components: {
      draggable,
      SelectBranches
    },
    directives: {
      draggableChips: {
        bind (el, binding, vnode) {
          const options = {
            animation: 150,
            onUpdate: event => {
              vnode.context.$parent.$emit('dragged', event)
            }
          }
          Sortable.create(el, options)
        }
      }
    },
    beforeMount() {
    },
    created() {
      const branchName = this.$route.params.branch
      if (branchName) {
        if (!this.selectedBranches.includes(branchName)) {
          this.$store.dispatch('pipelines/selectBranch', branchName)
        }
        this.currentBranchName = branchName
      } else if (this.$route.name === 'pipelines:branches') {
        this.gotoCurrentBranch()
      }
    },
    activated() {
      if (!this.currentBranchName && this.selectedBranches) {
        this.currentBranchName = this.selectedBranches[0]
      }
      this.gotoCurrentBranch()
    },
    beforeRouteEnter(to, from, next) {
      next(self => {
        if (to.params.branch) {
          self.currentBranchName = to.params.branch
          next()
        }
        self.gotoCurrentBranch()
      })
    },
    beforeRouteUpdate(to, from, next) {
      if (to.params.branch) {
        this.currentBranchName = to.params.branch
        next()
      }
      this.gotoCurrentBranch()
    },
    computed: {
      ...mapGetters({
        groups: 'gitlab/selectedGroups',
        ignoredProjects: 'gitlab/ignoredProjects',
        branches: 'gitlab/branches',
        issues: 'jira/issues'
      }),
      dragOptions() {
        return {
          animation: 200,
          group: "description",
          disabled: false,
          ghostClass: "ghost"
        }
      },
      sortedBranches() {
        return Object.keys(this.branches).sort()
      },
      currentBranchName: {
        get() {
          return this.currentBranchNameValue
        },
        set(value) {
          if (this.currentBranchName !== value) {
            if (!this.selectedBranches.includes(value)) {
              this.selectedBranches.push(value)
            }
            this.currentBranchNameValue = value
            this.gotoCurrentBranch()
          }
        }
      },
      selectedBranches: {
        get() {
          return this.$store.getters['pipelines/branches']
        },
        set(value) {
          this.$store.dispatch('pipelines/setBranches', value)
        }
      },
    },
    methods: {
      onStart(event) {
        this.dragging = this.selectedBranches[event.oldIndex]
        if (this.dragging != this.currentBranchName) {
          event.item.getElementsByClassName('v-chip')[0].classList.add('primary')
        }
        event.item.getElementsByClassName('v-chip')[0].style['transition'] = null
      },
      onEnd(event) {
        if (this.dragging != this.currentBranchName) {
          event.item.getElementsByClassName('v-chip')[0].classList.remove('primary')
        }
        this.dragging = null
        event.item.getElementsByClassName('v-chip')[0].style['transition'] = 'background-color 1000ms ease'
      },
      gotoCurrentBranch() {
        if (this.currentBranchName && this.$route.params.branch !== this.currentBranchName) {
          this.$router.push({
            name: 'pipelines:branches:branch',
            params: {
              branch: this.currentBranchName
            }
          })
          return true
        }
        return false
      },
      addBranch(branchName) {
        this.$store.dispatch('pipelines/selectBranch', branchName)
        this.currentBranchName = branchName
      },
      selectBranch(event, branchName) {
        event.stopPropagation()
        this.currentBranchName = branchName
      },
      removeBranch(branchName) {
        this.selectedBranches = this.selectedBranches.filter(name => name != branchName)
        this.onChange()
      },
      onChange() {
        this.currentBranchName = this.selectedBranches[this.selectedBranches.length - 1]
      },
      getBranchCount(branchName) {
        const branches = this.branches[branchName]
        return branches ? `(${Object.keys(branches).length})` : ''
      },
      getIssueName(branch) {
        const issue = this.issues[last(branch.split('/')).toUpperCase()]
        return issue ? issue.summary : null
      },
      getIssueImage(branch) {
        const issue = this.issues[last(branch.split('/')).toUpperCase()]
        return issue ? issue.iconUrl : null
      },
      isOutlined(branchName) {
        return branchName == this.currentBranchName && this.dragging != this.currentBranchName
      },
      isProtected(branchName) {
        const branches = this.branches[branchName]
        if (branches) {
          for (const branch of Object.values(branches)) {
            if (branch.protected) {
              return true
            }
          }
        }
        return false
      }
    }
  };
</script>
<style>
.branch-chip {
  padding: 2px;
  display: inline-block;
}
</style>