<template>
  <v-container fluid>
    <jira-issue ref="jira" :issue-key="getIssueName(branchName)"></jira-issue>
      <v-layout column align-center>
        <v-row style="width: 100%; align-items: baseline">
          <v-col class="col-md-2">

            <v-row justify="center" align="baseline">
            <v-select
              label="Reference branch"
              v-model="referenceBranch"
              :items="referenceBranches"
              style="width: 85%"
            >
            </v-select>
            <div
              v-if="defaultReferenceBranch !== referenceBranch"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="defaultReferenceBranch ? `Reset reference branch to ${defaultReferenceBranch}` : 'Clear reference branch'"
            >
              <v-btn
                :small="true"
                text icon
              >
                <v-icon @click="referenceBranch = null">mdi-source-branch-sync</v-icon>
              </v-btn>
            </div>
            </v-row>
          </v-col>
          <v-col class="col-md-8">
            <v-row justify="center">
              <v-btn class="mx-2" :loading="fetching" color="primary" @click="fetchPipelineProjects">
                Fetch projects
              </v-btn>
              <v-btn class="mx-2" :loading="refreshing" color="primary" @click="refresh">
                Refresh
              </v-btn>
              <v-btn class="mx-2" :loading="loadingRunning" color="primary" @click="refreshRunning(false)">
                Refresh Running
              </v-btn>
              <v-menu
                  offset-y
                  v-if="availableProjects.length > 0 && !loading"
                  v-model="showCreateProjectMenu"
                  max-height="400px"
                  :close-on-content-click="false"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                      :loading="creatingBranch"
                      class="mx-2"
                      color="primary"
                      dark
                      v-on="on"
                  >
                    Create branch...
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item>
                    <v-text-field
                        ref="createMenuFilterButton"
                        v-model="createMenuFilter"
                        append-icon="mdi-magnify"
                        label="Search"
                    ></v-text-field>
                  </v-list-item>
                  <v-list-item
                      @click=createBranch(project)
                      v-for="(project, index) in filteredAvailableProjects"
                      :key="index"
                  >
                    <v-list-item-title>{{ project.name_with_namespace.substring(availableProjectsSharedStart.length) }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <v-menu offset-y v-if="!loading && Object.keys(dockerImages).length">
                <template v-slot:activator="{ on }">
                  <v-btn
                      class="mx-2"
                      :loading="dockerLoading"
                      color="primary"
                      dark
                      v-on="on"
                  >
                    Delete docker images ({{Object.keys(dockerImages).length}})...
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                      @click=deleteDockerImage()
                      :key="0"
                  >
                    <v-list-item-title>Delete all</v-list-item-title>
                  </v-list-item>
                  <v-divider></v-divider>
                  <v-list-item
                      @click=deleteDockerImage(image)
                      v-for="(image, index) in Object.keys(dockerImages).sort()"
                      :key="index+1"
                  >
                    <v-list-item-title>{{ image }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-row>
          </v-col>
          <v-col class="col-md-2">
          </v-col>
        </v-row>
      </v-layout>

      <pipelines
          :loading="loading"
          :pipelines="pipelines"
          :displayBranchName="false"
          :display-merge-requests="true"
          :showActions="true"
          :reference-branch="referenceBranch"
          @refresh="refreshPipeline"
          @autoRefresh="autoRefresh"
          @delete="deletePipeline"
      ></pipelines>

  </v-container>
</template>

<script>
  import { GlTooltipDirective } from '@gitlab/ui'
  import {del, post, getNexus, deleteNexus} from '@/utils/axios'
  import Pipelines from './Pipelines'
  import {mapGetters} from 'vuex'
  import JiraIssue from '@/components/JiraIssue'
  import {find, last} from 'underscore'
  import Vue from 'vue'
  import {getPipelines, loadMergeRequest} from '@/utils/pipelines'

  export default {
    name: 'BranchPipelines',
    components: {
      Pipelines,
      JiraIssue
    },
    directives: {
      GlTooltip: GlTooltipDirective
    },
    props: {
      branchName: String
    },
    data: () => ({
      createMenuFilter: '',
      showCreateProjectMenu_: false,
      fetchingDockerImages: false,
      dockerImages: [],
      loading: false,
      dockerLoading: false,
      timer: null,
      now: null,
      pipelines: [],
      loadingRunning: false,
      refreshing: false,
      fetching: false,
      creatingBranch: false
    }),
    mounted() {
      this.refresh()
    },
    computed: {
      ...mapGetters({
        branches: 'gitlab/branches',
        projects: 'gitlab/projects',
        selectedProjects: 'gitlab/selectedProjects',
        dockerRepository: 'nexus/dockerRepository',
        nexusValid: 'nexus/valid'
      }),
      showCreateProjectMenu: {
        get() {
          return this.showCreateProjectMenu_
        },
        async set(value) {
          this.showCreateProjectMenu_ = value
          if (value) {
            setTimeout(() => this.$refs.createMenuFilterButton.$el.querySelector('input').focus(), 100)
          }
        }
      },
      referenceBranches() {
        const referenceBranches = {}
        for (const projectBranches of Object.values(this.$store.getters['gitlab/branches'])) {
          for (const branch of Object.values(projectBranches)) {
            if (branch.protected) {
              referenceBranches[branch.name] = 1
            }
          }
        }
        return Object.keys(referenceBranches)
      },
      availableProjects() {
        return this.projects.filter(project => this.pipelines.findIndex(pipeline => {
          const ref = pipeline.pipeline.ref
          return project.id === pipeline.project.id && this.branches[ref] && this.branches[ref][project.id]
        }) < 0)
      },
      availableProjectsSharedStart() {
        return this.sharedStart(this.availableProjects.map(project => project.name_with_namespace))
      },
      filteredAvailableProjects() {
        return this.availableProjects.filter(project => !this.createMenuFilter || project.name_with_namespace.indexOf(this.createMenuFilter) >= 0)
      },
      defaultReferenceBranch() {
        for (const pipeline of this.pipelines) {
          if (pipeline.merge) {
            return pipeline.merge.target_branch
          }
        }
        return null
      },
      referenceBranch: {
        get() {
          const storeReference = this.$store.getters['gitlab/referenceBranch'](this.branchName)
          if (storeReference) {
            return storeReference
          }
          return this.defaultReferenceBranch
        },
        set(value) {
          this.$store.dispatch('gitlab/setReferenceBranch', {
            branch: this.branchName,
            referenceBranch: value
          })
          this.refresh()
        }
      }
    },
    methods: {
      sharedStart(array){
        var A= array.concat().sort(),
            a1= A[0], a2= A[A.length-1], L= a1.length, i= 0;
        while(i<L && a1.charAt(i)=== a2.charAt(i)) i++;
        return a1.substring(0, i);
      },
      getIssueName(branchName) {
        return last(branchName.split('/')).toUpperCase()
      },
      async getProjectPipeline(project) {
        let ref = this.branchName
        return await this.loadPipeline(project, ref)
      },
      async loadPipeline(project, branchName) {
        const pipelines = await getPipelines([project.id], branchName)

        if (!pipelines.length) {
          return null
        }

        const pipeline = pipelines[0].pipeline
        pipeline.ref = branchName
        let result = {
          project,
          pipeline,
          merge: null,
          commits: null,
          behind: null,
          target_branch: null
        }

        result.finished_at = result.pipeline.finished_at
        result.duration = result.pipeline.duration
        return result
      },
      async fetchPipelineProjects() {
        try {
          this.fetching = true
          await this.$store.dispatch('gitlab/fetchBranches')
          await this.refresh()
        } finally {
          this.fetching = false
        }
      },
      async refreshRunning() {
        if (this.loadingRunning) {
          return
        }

        this.loadingRunning = true
        await Promise.all(this.pipelines.map(async (pipeline) => {
          if (pipeline.pipeline.status.label === 'running' || pipeline.pipeline.status.label === 'created') {
            await this.refreshPipeline(pipeline.pipeline.id)
          }
        }))
        this.loadingRunning = false
      },
      async refreshPipeline({pipelineId, done, onlyMergeRequest}) {
        const pipelineIndex = this.pipelines.findIndex(p => p.pipeline.id == pipelineId)
        const item = this.pipelines[pipelineIndex]
        const newItem = onlyMergeRequest ? item : await this.loadPipeline(item.project, item.pipeline.ref)
        if (newItem) {
          Vue.set(this.pipelines, pipelineIndex, newItem)
          if (this.branchName) {
            await loadMergeRequest([newItem], this.branchName, this.referenceBranch)
          }
        } else {
          this.pipelines.splice(pipelineIndex, 1);
        }
        done()
      },
      async autoRefresh() {
        await this.refresh()
      },
      async deleteDockerImage(image) {
        try {
          this.dockerLoading = true
          if (image) {
            await deleteNexus(`v1/assets/${this.dockerImages[image]}`)
          } else {
            await Promise.all(Object.keys(this.dockerImages).map(async (image) => {
              await deleteNexus(`v1/assets/${this.dockerImages[image]}`)
            }));
          }

          await this.fetchDocker()
        } finally {
          this.dockerLoading = false
        }
      },
      async fetchDocker() {
        if (!this.nexusValid) {
          return
        }
        const dockerImages = {}
        const images = (await getNexus(`v1/search/assets?repository=${this.dockerRepository.name}&format=docker&docker.imageTag=${this.branchName}`)).data
        images.items.forEach(image => {
          const split = image['path'].split('/')
          dockerImages[split[split.length - 3]] = image['id']
        })
        this.dockerImages = dockerImages
      },
      getProject(id) {
        return this.projects.find(p => p.id == id)
      },
      async refresh() {
        if (this.refreshing) {
          return
        }

        this.refreshing = true
        if (this.$refs.jira) {
          this.$refs.jira.refresh()
        }

        try {
          let projects = []
          const branches = this.branches[this.branchName]
          projects = branches ? Object.keys(branches).map(this.getProject) : []

          const tmpPipelines = []

          await Promise.all(projects.map(async (project) => {
            const result = await this.getProjectPipeline(project)
            if (result) {
              tmpPipelines.push(result)
            }
          }))


          const hasFeatureBranch = find(
              tmpPipelines, data => data.pipeline && data.pipeline.ref !== data.project.default_branch
            )

          if (hasFeatureBranch) {
            await loadMergeRequest(tmpPipelines, this.branchName, this.referenceBranch)
          }
          this.pipelines = tmpPipelines


        } finally {
          this.refreshing = false
        }

        await this.fetchDocker()
      },
      async createBranch(project) {
        try {
          this.creatingBranch = true
          this.showCreateProjectMenu = false
          await post(`projects/${project.id}/repository/branches?branch=${this.branchName}&ref=${this.referenceBranch || project.default_branch}`)
          await this.$store.dispatch('gitlab/addProjectBranch', {
            project,
            branchName: this.branchName
          })
          let result = null
          for (let i = 0; i < 10 && !result; i++) {
            result = await this.getProjectPipeline(project)
          }
          if (result) {
            this.pipelines.push(result)
          }
        } finally {
          this.creatingBranch = false
        }
      },
      async deletePipeline(item) {
        await del(`projects/${item.project.id}/repository/branches/${item.pipeline.ref}`)
        const index = this.pipelines.findIndex(p => p.project.id == item.project.id)
        this.pipelines.splice(index, 1)
        await this.$store.dispatch('gitlab/deleteProjectBranch', {
          project: item.project,
          branchName: this.branchName
        })
      }
    }
  };
</script>

<style lang="scss">
  .v-stepper.theme--light {
    box-shadow: none;
    background-color: unset;
  }

  .mdi-check-circle-outline {
    color: #1aaa55 !important;
  }
  .mdi-close-circle-outline {
    color: #db3b21 !important;
  }
  .mdi-alert-circle-outline, .mdi-pause-circle-outline {
    color: #fc9403 !important;
  }
  .mdi-timelapse {
    color: #1f78d1 !important;
  }
</style>
