<template>
  <v-card>
    <v-card-title>
      {{pipeline.commitsList.length}} Commits
    </v-card-title>

    <v-data-table
      :headers="headers"
      :hide-default-footer="true"
      :items="[...pipeline.commitsList].reverse()"
      item-key="id"
    >
      <template v-slot:item.user="{ item }">
        <avatar :item="item"></avatar>
      </template>
      <template v-slot:item.id="{ item }">
        <a
          v-bind:href="item.web_url"
          target="_blank">
          {{item.id}}
        </a>
      </template>
      <template v-slot:item.message="{ item }">
        <span
          v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
          :title="commitDescription(item.message)"
        >
          {{commitMessage(item.message)}}
        </span>

      </template>
      <template v-slot:item.authored_date="{ item }">
        <span
          v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
          :title="moment(item.authored_date).format('LLLL')"
        >
          {{moment(item.authored_date).fromNow()}}
        </span>
      </template>

    </v-data-table>
  </v-card>
</template>

<script>
  import { GlTooltipDirective } from '@gitlab/ui'
  import Avatar from './Avatar'

  export default {
    name: 'CommitList',
    props: {
      pipeline: Object,
    },
    components: {
      Avatar
    },
    directives: {
      GlTooltip: GlTooltipDirective,
    },
    data() {
      return {
        headers: [
          { text: 'User', value: 'user' },
          { text: 'Id', value: 'id' },
          { text: 'Message', value: 'message' },
          { text: 'Date', value: 'authored_date' },
        ]
      }
    },
    methods: {
      commitMessage(message) {
        return message.split('\n')[0]
      },
      commitDescription(message) {
        const lines = message.split('\n')
        if (lines.length > 1) {
          lines.splice(0, 1)
          return lines.join('\n')
        }
      }
    }
  };
</script>
