<template>
  <v-menu
      ref="menu"
      v-model="menu"
      @input="onReviewerMenu()"
      :close-on-content-click="false"
  >

    <template v-slot:activator="{ on, attrs }">
      <v-btn
          :small="true"
          text icon
          v-bind="attrs"
          v-on="on"
      >
        <v-icon>edit</v-icon>
      </v-btn>
    </template>
    <div>
      <v-list>
        <v-subheader v-if="!reviewersCount">No reviewer</v-subheader>
        <v-subheader v-if="reviewersCount">Reviewers ({{ reviewersCount }})</v-subheader>
        <v-list-item
            v-for="user in reviewers"
            :key="`reviewer${user.id}`"
            @click="removeReviewer(user)"
        >
          <v-avatar
              size="32"
              style="margin-right: 0.5em;"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="user.name"
          >
            <v-img :src="user.avatar_url"></v-img>
          </v-avatar>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item>
        <v-subheader v-if="recentUsersNotReviewers.length > 0">Recent ({{ recentUsersNotReviewers.length }})
        </v-subheader>
        <v-list-item
            v-for="user in recentUsersNotReviewers"
            :key="`recent${user.id}`"
            @click="addReviewer(user)"
        >
          <v-avatar
              size="32"
              style="margin-right: 0.5em;"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="user.name"
          >
            <v-img :src="user.avatar_url"></v-img>
          </v-avatar>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
          <v-list-item-action>
            <span style="flex-direction: row">
              <v-btn icon @click.stop="removeReviewer(user)">
                <v-icon color="grey lighten-1">mdi-close</v-icon>
              </v-btn>
            </span>
          </v-list-item-action>
        </v-list-item>

        <v-subheader dense v-if="members && members.length > 0">Add reviewer</v-subheader>
        <v-list-item>
          <v-text-field
              dense
              label="Filter username"
              autofocus
              v-model="filter"
          ></v-text-field>
        </v-list-item>

      </v-list>
      <v-list subheader style="max-height: 300px;overflow-y:auto;">
        <v-list-item v-if="members && !filteredMembers.length">
          <v-list-item-title>No matching user</v-list-item-title>
        </v-list-item>
        <v-list-item
            v-for="user in filteredMembers"
            :key="`notReviewer${user.id}`"
            @click="addReviewer(user)"
        >
          <v-avatar
              size="32"
              style="margin-right: 0.5em;"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="user.name"
          >
            <v-img :src="user.avatar_url"></v-img>
          </v-avatar>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="!members">
          <v-list-item-title>
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </div>
  </v-menu>
</template>

<script>
import { GlTooltipDirective } from '@gitlab/ui'
import { get } from '@/utils/axios'
import { sortBy } from 'underscore'
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default {
  name: 'EditReviewers',
  props: {
    pipeline: Object,
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  data: () => ({
    menu: false,
    filter: null
  }),
  computed: {
    ...mapGetters({
      recentUsers: 'gitlab/recentUsers'
    }),
    reviewers() {
      const reviewers = sortBy(Object.values(this.pipeline.merge.reviewers), 'name')
      return reviewers
    },
    reviewersCount() {
      return this.reviewers.length
    },
    filteredMembers() {
      if (this.notReviewers && this.filter) {
        return this.notReviewers.filter(member => {
          return member.name.toUpperCase().includes(this.filter.toUpperCase())
              || member.username.toUpperCase().includes(this.filter.toUpperCase())
        })
      }
      return this.notReviewers
    },
    recentUsersNotReviewers() {
      return this.recentUsers.filter(member => !this.pipeline.merge.reviewers[member.id])
    },
    notReviewers() {
      if (this.members) {
        return this.members.filter(member => !this.pipeline.merge.reviewers[member.id])
      }
      return this.members
    },
    members: {
      get() {
        return this.pipeline.project.members
      },
      set(value) {
        Vue.set(this.pipeline.project, 'members', sortBy(value, 'name'))
      }
    }
  },
  methods: {
    async onReviewerMenu() {
      if (this.menu) {
        this.filter = null
        if (!this.members) {
          this.members = (await get(`projects/${this.pipeline.project.id}/members/all`)).data
          this.$refs.menu.activate()
        }
      }
    },
    addReviewer(user) {
      this.$store.dispatch('gitlab/useUser', user)
      this.$emit('addReviewer', user)
    },
    removeReviewer(user) {
      this.$emit('removeReviewer', user)
    }
  }
}
</script>