<template>
  <a :href="user.web_url" target="_blank">
    <v-avatar
        size="32"
        style="margin-right: 0.5em;"
        v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
        :title="dense ? user.name : null"
    >
      <v-img :src="user.avatar_url"></v-img>
    </v-avatar>
    <span v-if="!dense">
      {{user.name}}
    </span>
  </a>
</template>

<script>
import { GlTooltipDirective } from '@gitlab/ui'
export default {
  name: "GitlabUser",
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  props: {
    user: Object,
    dense: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>

</style>