<template>
  <div v-if="issue" class="jira-container">
    <span><img width="16" :src="issue.iconUrl" /></span>
    <span>{{issueKey}}</span>
    <span :class="`issue-${issue.colorName} issue-status`">{{issue.status}}</span>
    <a :href="`${jiraURL}/browse/${issueKey.toUpperCase()}`" target="_blank">
      <span>{{issue.summary}}</span>
    </a>
  </div>
</template>

<script>
import {getJira} from '@/utils/axios'
import {mapGetters} from 'vuex'

export default {
  name: 'JiraIssue',
  props: {
    issueKey: null
  },
  data: () => ({
    issue: null
  }),
  async mounted() {
    await this.refresh()
  },
  computed: {
    ...mapGetters({
      jiraURL: 'jira/URL'
    }),
    issueStyle() {
      return {

      }
    },
  },
  methods: {
    async refresh() {
      try {
        const issue = (await getJira(`issue/${this.issueKey}`)).data
        this.issue = {
          iconUrl: issue.fields.issuetype.iconUrl,
          colorName: issue.fields.status.statusCategory.colorName,
          status: issue.fields.status.name,
          summary: issue.fields.summary,
          key: issue.key
        }
        await this.$store.dispatch('jira/addIssue', this.issue)
      } catch {
        // issue does not exist
      }
    }
  }
}
</script>

<style lang="scss">
.issue-grey {
  border-color: #c1c7d0
}
.issue-yellow {
  border-color: #b3d4ff
}
.issue-green {
  border-color: #abf5d1
}

.issue-status {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.2em;
  color: var(--text);
  font-size: small;
}
.jira-container {
  span {
    margin: 0.25em;
  }
  padding-bottom: 1em;
}
</style>
