<template>
  <div style="font-family: monospace">
    <div v-for="error in readErrors" v-bind:key="error.date">
      <span :class="{bold: !error.read}">{{error.date}} : {{error.message}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Settings',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.dispatch('notifications/markAsRead')
      })
    },
    computed: {
      readErrors() {
        if (document.contains(this.$el)) {
          this.$store.dispatch('notifications/markAsRead')
        }
        const errors = this.$store.getters['notifications/errors']
        return errors
      }
    }
  };
</script>
<style>
.bold {
  font-weight: bold;
}
</style>
