<template>
  <div>
    <v-dialog
        v-model="dialog"
        max-width="290"
    >
      <v-card>
        <v-card-title class="headline">
          Delete images
        </v-card-title>

        <v-card-text>
          <b>{{deleted}}</b> assets(s) have been deleted, and <b>{{humanFileSize(freedBytes)}}</b> have been freed up
        </v-card-text>

        <v-card-text v-if="errors.length > 0">
          <b>{{errors.length}}</b> assets(s) could net be deleted. Do you want to ignore them?
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
              v-if="errors.length > 0"
              color="primary darken-1"
              text
              @click="closeDialog(true)"
          >
            Ignore
          </v-btn>

          <v-btn
              color="primary darken-1"
              text
              @click="closeDialog(false)"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div>
      <v-form ref="form">
        <v-container grid-list-xl>

          <v-card>
            <v-progress-linear
                :value="diskUsage"
                color="blue-grey"
                height="25"
            >
              <template v-slot:default="{ value }">
                <strong>{{humanFileSize(totalSizeInBytes - availableSpaceInBytes)}}/{{humanFileSize(totalSizeInBytes)}}</strong>
              </template>
            </v-progress-linear>

            <v-container grid-list-xl>
              <v-row align="baseline">
                <v-col>
                  <v-row align="baseline"  no-gutters>
                    <v-select
                        label="Repository name"
                        :items="repositories"
                        v-model="repository"
                        item-text="name"
                        return-object
                    >
                    </v-select>
                    <v-btn class="mx-2" color="primary" @click="rebuildIndex">
                      Rebuild index
                    </v-btn>
                  </v-row>
                </v-col>
                <v-col v-if="docker">
                  <v-text-field
                      v-model="dockerImagePattern"
                      label="Image name pattern"
                      required
                  ></v-text-field>
                </v-col>
                <v-col>
                  <v-checkbox
                      v-model="hideTags"
                      label="Hide tags"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
      </v-form>
      <v-container grid-list-md ref="table-container">
        <v-card>
          <v-container fluid grid-list-md>
            <v-layout column align-center style="display: flex; max-height: 800px;" ref="flex-container" >
              <v-row align="baseline" dense>
                <v-col>
                  <span>Found {{totalImageCount}} images</span>
                  <v-btn class="mx-2" :loading="loading" color="primary" @click="fetchImages">
                    Refresh
                  </v-btn>
                </v-col>
              </v-row>
              <v-row v-if="ignoredImages.length" align="baseline" dense>
                <v-col>
                  <span>{{ignoredImages.length}} ignored images</span>
                  <v-btn class="mx-2" color="primary" @click="clearIgnored">
                    Clear
                  </v-btn>
                </v-col>
              </v-row>
              <v-row align="baseline" dense>
                <v-col>
                  {{selected.length}} tags selected
                  <v-btn
                      class="mx-2"
                      color="primary"
                      @click="selectTagsWithoutBranches()"
                  >
                    Select tags without branches
                  </v-btn>
                  <v-btn
                      v-if="selectedImageCount"
                      :loading=deleting
                      class="mx-2"
                      color="primary"
                      @click="deleteImagesAndDisplayDialog(selected)"
                  >
                    Delete {{selectedImageCount}} image(s)
                  </v-btn>
                </v-col>
              </v-row>
              <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
              ></v-text-field>
              <v-data-table
                  v-model="selected"
                  show-select
                  :hide-default-footer="true"
                  :items-per-page="1000"
                  :headers="headers"
                  :loading="loading"
                  :single-expand="false"
                  item-key="tag"
                  :items="imagesArray"
                  :search="search"
                  style="flex-shrink: 1; overflow-y: scroll"
              >
                <template v-slot:item.images="{ item }">
                  {{item.images.length}} assets(s)
                  <ul>
                    <li v-for="image in item.images" :key="image.id">
                      <span v-if="docker">{{getImageName(image.path)}} ({{image.checksum.sha256}})</span>
                      <span v-else>{{getImageName(image.path)}}</span>
                    </li>
                  </ul>
                </template>

                <template v-slot:item.branches="{ item }">
                  {{item.branches.length}} branches(s)
                  <ul>
                    <li v-for="branch in item.branches" :key="branch">
                      {{branch}}
                    </li>
                  </ul>
                </template>

                <template v-slot:item.tags="{ item }">
                  {{item.tags.length}} tag(s)
                  <ul>
                    <li v-for="tag in item.tags" :key="tag">
                      {{tag}}
                    </li>
                  </ul>
                </template>

                <template v-slot:item.action="{ item }">
                  <div class="d-flex">
                    <div
                        v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
                        title="Delete images"
                    >
                      <v-btn
                          :loading="item.deleting"
                          :small="true"
                          text icon
                      >
                        <v-icon @click="deleteImagesAndDisplayDialog([item])">delete</v-icon>
                      </v-btn>
                    </div>
                  </div>
                </template>
              </v-data-table>
            </v-layout>
          </v-container>
        </v-card>
      </v-container>
    </div>
  </div>

</template>

<script>
import Vue from 'vue'
import { GlTooltipDirective } from '@gitlab/ui'
import {deleteNexus, getNexus} from '@/utils/axios'
import {mapGetters} from "vuex";
import { find } from 'underscore';
import {humanFileSize} from '@/utils/utils'

  export default {
    name: 'NexusAssets',
    directives: {
      GlTooltip: GlTooltipDirective,
    },
    data: () => ({
      dialog: false,
      errors: [],
      deleted: 0,
      freedBytes: 0,
      dockerImages: [],
      search: '',
      loading: false,
      projectsLoading: false,
      jobs: [],
      artifacts: [],
      allProjects: [],
      project_id: 29,
      total: 0,
      archiveTotal: 0,
      selected: [],
      deleting: false,
    }),
    props: {
      format: String
    },
    mounted() {
      this.$store.dispatch('gitlab/fetchTags')
      this.$store.dispatch('nexus/fetchQuotas')
      this.$store.dispatch('nexus/fetchRepositories')
      this.fetchImages()

      const toolbar = document.querySelector('.v-toolbar__content')
      const footer = document.querySelector('.v-footer')


      window.onresize = () => {
        const diff = this.$el.clientHeight - this.$refs['table-container'].clientHeight
        const height = window.innerHeight - toolbar.clientHeight - footer.clientHeight - diff - 40
        this.$refs['flex-container'].style.maxHeight=`${height}px`
      }
      window.onresize()
    },
    computed: {
      ...mapGetters('gitlab', [
        'branches', 'tags'
      ]),
      ...mapGetters('nexus', [
        'availableSpaceInBytes', 'totalSizeInBytes'
      ]),
      diskUsage() {
        return 100 * (this.totalSizeInBytes - this.availableSpaceInBytes) / this.totalSizeInBytes
      },
      selectedImageCount() {
        return this.selected.reduce((sum, current) => sum + current.images.length, 0)
      },
      ignoredImages() {
        return this.$store.getters[`${this.format}/ignoredImages`]
      },
      repositories() {
        return this.$store.getters['nexus/repositories'].filter(repo => repo.format === this.format)
      },
      hideTags: {
        get() {
          return this.$store.getters[`${this.format}/hideTags`]
        },
        set(value) {
          this.$store.dispatch(`${this.format}/setHideTags`, value)
        }
      },
      repository: {
        get() {
          return this.$store.getters[`${this.format}/repository`] || this.repositories[0]
        },
        set(value) {
          this.$store.dispatch(`${this.format}/setRepository`, value)
        }
      },
      dockerImagePattern: {
        get() {
          return this.$store.getters[`${this.format}/imagePattern`]
        },
        set(value) {
          this.$store.dispatch(`${this.format}/setImagePattern`, value)
        }
      },
      docker() {
        return this.format === 'docker'
      },
      npm() {
        return this.format === 'npm'
      },
      totalImageCount() {
        return Object.values(this.dockerImages).reduce((acc, cur) => {
          return acc + cur.length
        }, 0)
      },
      headers() {
        const columns = [
          { text: 'Tag name', value: 'tag' },
          { text: 'Images', value: 'images' },
          { text: 'Branches', value: 'branches' }
        ]
        if (!this.hideTags) {
          columns.push({ text: 'Tags', value: 'tags' })
        }
        columns.push({ text: 'Actions', value: 'action', sortable: false })
        return columns
      },
      imagesArray() {
        return Object.keys(this.dockerImages).map(tag => ({
          tag,
          branches: Object.keys(this.branches[tag] || {}),
          tags: this.tags[tag] || [],
          images: this.dockerImages[tag].filter(item => !item.ignored)
        }))
            .filter(item => item.images.length > 0)
            .filter(item => !this.hideTags || item.tags.length == 0)
            .filter(item => item.tag != 'latest')
      }
    },
    methods: {
      rebuildIndex() {
        this.$store.dispatch('nexus/rebuildIndex')
      },
      humanFileSize(bytes, si=false, dp=1) {
        return humanFileSize(bytes, si, dp)
      },
      selectTagsWithoutBranches() {
        this.selected = this.imagesArray.filter(item => item.branches.length == 0)
      },
      closeDialog(ignore) {
        this.dialog = false
        if (ignore) {
          this.errors.forEach(image => {
            image.ignored = true
            this.$store.dispatch('docker/ignoreImage', image.id)
          })
          this.selected = []
        }
      },
      clearIgnored() {
        this.$store.commit('docker/clearIgnoredImages')
        Object.values(this.dockerImages).forEach(item => {
          item.forEach(image => {
            image.ignored = false
          })
        })
      },
      getImageName(imagePath) {
        const split = imagePath.split('/')
        return split[split.length - 3]
      },
      async deleteImagesAndDisplayDialog(items) {
        this.errors = []
        this.deleted = 0
        this.deleting = true
        try {
          //await this.$store.dispatch('nexus/fetchQuotas')
          //const availableSpaceInBytes = this.availableSpaceInBytes
          for(const item of items) {
            await this.deleteImages(item)
          }
          //await this.$store.dispatch('nexus/fetchQuotas')
          //this.freedBytes = availableSpaceInBytes - this.availableSpaceInBytes
          //this.dialog = true
        } finally {
          this.deleting = false
        }
      },
      async deleteImages(item) {
        Vue.set(item, 'deleting', true)
        await Promise.all(item.images.map(async (image) => {
          try {
            await deleteNexus(`assets/${image.id}`)
            this.dockerImages[item.tag] = this.dockerImages[item.tag].filter(i => i.id !== image.id)
            if (!this.dockerImages[item.tag].length) {
              delete this.dockerImages[item.tag]
            }
            this.selected = this.selected.filter(item => this.dockerImages[item.tag])
            this.deleted++
          } catch (e) {
            this.errors.push(find(this.dockerImages[item.tag], i => i.id == image.id))
          }
        }));
        Vue.set(item, 'deleting', false)
      },
      async fetchImages() {
        try {
          this.artifacts = []
          this.loading = true
          await this.$store.dispatch('gitlab/fetchProjects')

          let url = `v1/search?repository=${this.repository.name}`
          if (this.docker) {
            url += `&docker.imageName=${this.dockerImagePattern}`
          }

          let data = (await getNexus(url)).data
          let items = data.items
          while (data.continuationToken) {
            data = (await getNexus(`${url}&continuationToken=${data.continuationToken}`)).data
            items = [...items, ...data.items]
          }
          const images = {}
          for (const item of items) {
            let tag = item.version
            if (this.npm) {
              let match = tag.match(/^\d+\.\d+\.\d+-(.*)$/)
              if (match) {
                tag = match[1]
              }
            }
            for (const asset of item.assets) {
              //if (tag[0] < '0' || tag[0] > '9') {
                asset.ignored = this.ignoredImages.includes(asset.id)
                if (images[tag]) {
                  images[tag].push(asset)
                } else {
                  images[tag] = [asset]
                }
              //}
            }
          }
          Object.values(images).forEach(a => {
            a.sort((i1, i2) => i1.path.localeCompare(i2.path))
          })
          this.dockerImages = images
        } finally {
          this.loading = false
        }
      }
    }
  };
</script>
