<template>
  <div>
    <v-dialog v-model="commitsDialog">
      <commit-list
        :pipeline="commitsDetails"
        @closeCommits="commitsDialog = false">
      </commit-list>
    </v-dialog>
  <v-data-table
    v-sortable-data-table
    :hide-default-footer="true"
    :items-per-page="1000"
    :headers="headers"
    :single-expand="false"
    :expanded.sync="expanded"
    :loading="!sortedPipelines || loading"
    show-expand
    item-key="pipeline.id"
    :items="loading ? [] : sortedPipelines">
    <template v-slot:item.tag="{ item }">
      {{item.tag}}
    </template>

    <template v-slot:item.pipeline.sortableStatus="{ item }">
      <div class="table-mobile-content">
        <ci-badge :status="item.pipeline.status" :show-text="true" />
      </div>
    </template>
    <template v-slot:item.finished_at="{ item }">
      <span>
        {{ getFinishDate(item) }}
      </span>
    </template>
    <template v-slot:item.duration="{ item }">
        {{ getDuration(item) }}
    </template>
    <template v-slot:item.project.name="{ item }">
      <a
        v-bind:href="item.project.web_url"
        target="_blank">
        {{item.project.name}}
      </a>
    </template>
    <template v-slot:item.pipeline.ref="{ item }">
      <router-link :to="{
            name: 'pipelines:branches:branch',
            params: {
              branch: item.pipeline.ref
            }
          }">
        {{item.pipeline.ref}}
      </router-link>
    </template>

    <template v-slot:item.stages="{ item }">
      <div class="table-section section-wrap stage-cell">
        <div class="table-mobile-content">
          <template v-if="item.pipeline.details.stages.length > 0">
            <div
                v-for="(stage, index) in item.pipeline.details.stages"
                :key="index"
                class="stage-container dropdown js-mini-pipeline-graph"
            >
              <stage
                  :stage="stage"
              />
            </div>
          </template>
        </div>
      </div>
    </template>

    <template v-slot:item.commits="{ item }">
      <div v-if="item.rebasing || (item.merge && item.merge.rebease_in_progress)">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </div>
      <div v-else class="cell">
        <v-btn
          v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
          :title="`Rebase onto ${referenceBranch}`"
          :small="true"
          text icon
          v-if="item.behind && item.merge && !item.merge.conflicts"
        >
          <v-icon @click="rebase(item)">mdi-source-pull</v-icon>
        </v-btn>

        <div
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            :title="getCommitsTitle(item)">
          <a
              v-if="item.commits !== null"
              :href="getCompareUrl(item)" target="_blank"
          >
            <span>{{item.commits}}</span>
          </a>
          <span
              v-if="item.behind"
              style="text-decoration: none;"
          >
            | {{item.behind}}&darr;
          </span>
        </div>

        <v-btn
          :small="true"
          text icon
          v-if="item.commitsList && item.commitsList.length > 0"
        >
          <v-icon @click="commitsDetails = item; commitsDialog = true">info</v-icon>
        </v-btn>
      </div>
    </template>

    <template v-slot:item.merge_request="{ item }">
      <div v-if="item.loadingMergeRequest">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </div>
      <div v-else class="cell">
        <template v-if="item.merge">
          <a v-bind:href="item.merge.web_url"
             target="_blank">
            <div class="d-inline-flex align-items-center">
              <div :class="`mr-1 issuable-status-box status-box ${statusBoxClass(item.merge)}`">
                {{ stateHumanName(item.merge) }}
              </div>
            </div>
          </a>
          <div
              class="mr-1"
              v-if="item.merge.approved"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="`Approved by ${item.merge.approved_by.nodes.map(node => node.name).join(', ')}`"
          >
            <icon name="approval" :size=24 cssClasses="v-icon notranslate material-icons" />
          </div>

          <div
              class="mr-1"
              v-if="item.merge.discussions"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="item.merge.discussions + ' discussions resolved'"
          >
            <v-chip small>{{item.merge.discussions}}</v-chip>
          </div>
          <div
            class="mr-1"
            v-if="item.merge.draft"
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            title="This merge request is a draft"
          >
            <v-chip small>Draft</v-chip>
          </div>
          <div
            class="mr-1"
            v-if="item.merge.conflicts"
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            title="This merge request has conflicts"
          >
            <v-icon color="red">
              do_not_disturb_on
            </v-icon>
          </div>
        </template>
        <!--<a
           v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
           v-if="isFeatureBranch(item)"
           title="Create merge request"
           v-bind:href="getMergeRequestUrl(item)"
           style="text-decoration: none;"
           target="_blank">
          <v-btn
              :small="true"
              text icon
              :disabled="!item.pipeline || !item.branch"
          >
            <v-icon> add </v-icon>
          </v-btn>
        </a>-->
        <v-btn
          v-if="canCreateMergeRequest(item)"
          :small="true"
          text icon
          :disabled="!item.pipeline || !item.branch"
          @click="createMergeRequest(item)"
        >
          <v-icon> add </v-icon>
        </v-btn>
      </div>
    </template>

    <template v-slot:item.reviewer="{ item }">
      <div v-if="item.merge">
        <a
            v-for="(reviewer, index) in item.merge.reviewers"
            :href="reviewer.web_url" target="_blank"
            :key="index"
        >
          <v-avatar
              size="32"
              style="margin-right: 0.5em;"
              v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
              :title="reviewer.name"
          >
            <v-img :src="reviewer.avatar_url"></v-img>
          </v-avatar>
        </a>
        <EditReviewers
            :pipeline="item"
            @addReviewer="addReviewer(item, $event)"
            @removeReviewer="removeReviewer(item, $event)"
        ></EditReviewers>
      </div>
    </template>

    <template v-slot:item.pipeline.coverage="{ item }">
      <div v-if="item.pipeline.coverage">
        {{item.pipeline.coverage }}%
      </div>
    </template>

    <template v-slot:item.user="{ item }">
      <GitlabUser :user="item.pipeline.user" :dense="false"></GitlabUser>
    </template>

    <template v-slot:item.action="{ item }">
      <div class="d-flex">
        <div
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            title="Delete branch"
        >
          <v-btn
              :small="true"
              text icon
              :disabled="!isFeatureBranch(item)"
          >
            <v-icon @click="deleteBranch(item)">delete</v-icon>
          </v-btn>
        </div>
        <div
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            title="Retry"
        >
          <v-btn
              :small="true"
              text icon
              :disabled="!item.pipeline || !item.pipeline.retryable"
          >
            <v-icon @click="retry(item)"> play_arrow </v-icon>
          </v-btn>
        </div>
        <div
             v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
             title="Refresh"
        >
          <v-btn
              :small="true"
              text icon
              :disabled="!item.tag && (!item.pipeline)"
          >
            <v-icon @click="refreshProject(item)"> refresh </v-icon>
          </v-btn>
        </div>

        <div
            v-gl-tooltip="{ boundary: 'viewport', placement: 'top' }"
            title="Create new pipeline"
        >
          <v-btn
              :small="true"
              text icon
              :disabled="!item.tag && (!item.pipeline || !item.branch)"
          >
            <v-icon @click="launch(item)">add</v-icon>
          </v-btn>
        </div>
      </div>
    </template>

    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" :style="pipelineStyle">
        <graph
            :pipeline="item.pipeline"
            :isLoading="false"
            @refreshPipelineGraph="refreshProject(item)"
        />
      </td>
    </template>
  </v-data-table>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import { GlTooltipDirective } from '@gitlab/ui'
  import { post, put, get } from '@/utils/axios'
  import Stage from '~/pipelines/components/stage'
  import Graph from '~/pipelines/components/graph/graph_component'
  import CiBadge from '~/vue_shared/components/ci_badge_link.vue'
  import Icon from '~/vue_shared/components/icon.vue'
  import { find } from 'underscore'
  import { mrStates, humanMRStates } from '~/mr_popover/constants'
  import EditReviewers from '@/components/EditReviewers'
  import Vue from 'vue'
  import GitlabUser from '@/components/GitlabUser'
  import CommitList from '@/components/CommitList'
  import Sortable from 'sortablejs'
  import moment from 'moment'
  import { loadMergeRequest } from '@/utils/pipelines'

  export default {
    name: 'Pipelines',
    components: {
      EditReviewers, GitlabUser,
      Stage, CiBadge, Graph, Icon, CommitList
    },
    directives: {
      GlTooltip: GlTooltipDirective,
      sortableDataTable: {
        bind (el, binding, vnode) {
          const options = {
            animation: 150,
            onUpdate: function (event) {
              vnode.child.$emit('sorted', event)
            }
          }
          Sortable.create(el.getElementsByTagName('tbody')[0], options)
        }
      }
    },
    props: {
      pipelines: Array,
      displayBranchName: Boolean,
      displayMergeRequests: Boolean,
      loading: Boolean,
      displayUser: {
        type: Boolean,
        default: false
      },
      showActions: Boolean,
      referenceBranch: String
    },
    data: () => ({
      expanded: [],
      timer: null,
      now: null,
      commitsDetails: null,
      commitsDialog: false,
      width: 0,
      creatingMergeRequest: null
    }),
    activated() {
      this.autoRefresh()
      this.autoRefreshTimer = setInterval(this.autoRefresh, 5000)
    },
    deactivated() {
      clearInterval(this.autoRefreshTimer)
    },
    created() {
      this.updateTime()
    },
    mounted() {
      this.timer = setInterval(this.updateTime, 1000)
    },
    destroyed() {
      clearInterval(this.timer)
    },
    computed: {
      ...mapGetters({
        gitlabURL: 'gitlab/URL',
        branches: 'gitlab/branches',
        projects: 'gitlab/projects',
        users: 'gitlab/users',
        currentUser: 'gitlab/currentUser'
      }),
      headers() {
        const headers = []

        if (this.displayBranchName) {
          headers.push({ text: 'Ref', value: 'pipeline.ref' })
        }

        headers.push(
          { text: 'Status', value: 'pipeline.sortableStatus' },
          { text: 'Project', value: 'project.name' },
          { text: 'Stages', value: 'stages', sortable: false },
          { text: 'Finish date', value: 'finished_at' },
          { text: 'Duration', value: 'duration' },
          { text: 'Coverage', value: 'pipeline.coverage' }
        )
        if (this.showActions) {
          headers.push(
              { text: 'Actions', value: 'action', sortable: false }
          )
        }
        if (this.displayUser) {
          headers.push(
              { text: 'User', value: 'user', sortable: false }
          )
        }

        if (!!this.sortedPipelines && this.displayMergeRequests) {
          const hasMerge = !!find(this.sortedPipelines, p => p.merge)

          headers.push(
              {text: 'Commits', value: 'commits', sortable: false},
              {text: 'Merge request', value: 'merge_request', sortable: false}
          )
          if (hasMerge) {
            headers.push(
                {text: 'Reviewers', value: 'reviewer', sortable: false}
            )
          }
        }

        return headers
      },
      pipelineStyle() {
        return {
          padding: 0,
          'max-width': `${this.width}px`
        }
      },
      sortedPipelines() {
        let pipelines = [...this.pipelines]
        pipelines.forEach(pipeline => {
          const branch = this.branches[pipeline.pipeline.ref]
          if (branch) {
            pipeline.branch = branch
          }
        })
        pipelines.sort((a, b) => {
          const now = this.moment().format()
          const date = (p) => p.pipeline
            && p.pipeline.details
            && (p.pipeline.finished_at || p.pipeline.updated_at) || now
          return date(b).localeCompare(date(a))
        })

        return pipelines
      }
    },
    methods: {
      getFinishDate(item) {
        if (item.pipeline.active || !item.pipeline.started_at) {
          return ''
        }
        return moment(item.pipeline.finished_at || item.pipeline.updated_at).fromNow()
      },
      getDuration(item) {
        if (item.pipeline.duration) {
          return moment.utc(item.pipeline.duration * 1000).format('HH:mm:ss')
        }
        const end = item.pipeline.active ? this.now : moment.utc(item.pipeline.finished_at || item.pipeline.updated_at)
        return moment.utc(end.diff(moment(item.pipeline.created_at))).format("HH:mm:ss")
      },
      getCommitsTitle(item) {
        const messages = []
        if (item.commits) {
          const commits = item.commits > 1 ? 'commits' : 'commit'
          messages.push(`${item.commits} ${commits} ahead of ${item.target_branch}`)
        }
        if (item.behind) {
          const commits = item.behind > 1 ? 'commits' : 'commit'
          messages.push(`${item.behind} ${commits} behind ${item.target_branch}`)
        }
        return messages.join('\n')
      },
      async addReviewer(pipeline, user) {
        Vue.set(pipeline.merge.reviewers, user.id, user)
        await this.updateReviewers(pipeline)
      },
      async removeReviewer(pipeline, user) {
        Vue.delete(pipeline.merge.reviewers, user.id)
        await this.updateReviewers(pipeline)
      },
      async updateReviewers(pipeline) {
        const reviewer_ids = Object.keys(pipeline.merge.reviewers)
        await put(`/projects/${pipeline.project.id}/merge_requests/${pipeline.merge.iid}`, {
          reviewer_ids
        })
      },
      refreshProject(item) {
        this.$emit('refresh', {
          pipelineId: item.pipeline.id
        })
      },
      isFeatureBranch(item) {
        return item.branch && !item.pipeline.details.tag && item.pipeline.ref !== item.project.default_branch
      },
      updateTime() {
        this.now = this.moment()
        this.width = this.$el ? this.$el.parentElement.clientWidth : 0
      },
      autoRefresh() {
        if (this.$store.getters['display/autoRefresh'] && !document.hidden) {
          this.$emit('autoRefresh')
        }
      },
      getCompareUrl(item) {
        const reference = this.referenceBranch || item.project.default_branch
        const path = item.project.full_path || item.project.path_with_namespace
        return `${this.gitlabURL}/${path}/compare/${reference}...${item.pipeline.ref}`
      },
      getMergeRequestUrl(item) {
        const reference = this.referenceBranch || item.project.default_branch
        const path = item.project.full_path || item.project.path_with_namespace
        return `${this.gitlabURL}/${path}/merge_requests/new?merge_request%5Bsource_branch%5D=${item.pipeline.ref}&merge_request%5Btarget_branch%5D=${reference}`
      },
      statusBoxClass(mergeRequest) {
        switch (mergeRequest.state) {
          case mrStates.merged:
            return 'status-box-mr-merged';
          case mrStates.closed:
            return 'status-box-closed';
          default:
            return 'status-box-open';
        }
      },
      stateHumanName(mergeRequest) {
        switch (mergeRequest.state) {
          case mrStates.merged:
            return humanMRStates.merged;
          case mrStates.closed:
            return humanMRStates.closed;
          default:
            return humanMRStates.open;
        }
      },
      async retry(data) {
        await post(`projects/${data.project.id}/pipelines/${data.pipeline.id}/retry`)
        this.refreshProject(data)
      },
      async launch(data) {
        await post(`projects/${data.project.id}/pipeline?ref=${data.pipeline.ref}`)
        this.refreshProject(data)
      },
      async deleteBranch(item) {
        if (window.confirm(`Do you want to delete branch ${item.pipeline.ref} for project ${item.project.name}?`)) {
          this.$emit('delete', item)
        }
      },
      async rebase(item) {
        Vue.set(item, 'rebasing', true)
        await put(`projects/${item.project.id}/merge_requests/${item.merge.iid}/rebase?skip_ci=true`)
        this.$emit('refresh', {
          pipelineId: item.pipeline.id,
          done: () => item.rebasing = false
        })
      },
      canCreateMergeRequest(item) {
        return !item.merge || item.merge.state != 'opened'
      },
      async createMergeRequest(item) {
        Vue.set(item, 'loadingMergeRequest', true)
        const reference = this.referenceBranch || item.project.default_branch
        const commits = (await get(`projects/${item.project.id}/repository/commits?ref_name=${item.pipeline.ref}`, true)).data
        await post(`projects/${item.project.id}/merge_requests?source_branch=${item.pipeline.ref}&target_branch=${reference}&title=${commits[0].message}&assignee_id=${this.currentUser.id}&remove_source_branch=true`)
        this.$emit('refresh', {
          pipelineId: item.pipeline.id,
          done: () => item.loadingMergeRequest = false,
          onlyMergeRequest: true
        })

      }
    }
  };
</script>

<style lang="scss">
  .v-data-table__wrapper {
    overflow: visible;
  }

  .pipeline-tab-content {
    width: 100%;
    padding-right: 0;
  }

  .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .v-stepper.theme--light {
    box-shadow: none;
    background-color: unset;
  }

  .mdi-check-circle-outline {
    color: #1aaa55 !important;
  }
  .mdi-close-circle-outline {
    color: #db3b21 !important;
  }
  .mdi-alert-circle-outline, .mdi-pause-circle-outline {
    color: #fc9403 !important;
  }
  .mdi-timelapse {
    color: #1f78d1 !important;
  }
</style>
