<template>
  <v-form>
    <v-container>
      <v-card>
        <v-container grid-list-xl>
          <v-layout wrap align-center>
            <v-flex>
            <v-combobox
                label="Group"
                :items="groups"
                v-model="group"
                :menu-props="{ auto: true, maxHeight: '500px' }"
                item-text="full_name"
                item-value="id"
                return-object
            >
            </v-combobox>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-container>
    <v-container>
      <v-card>
        <v-container>
          <v-row justify="center" no-gutters>
            <div>
              <v-btn class="mx-2" :loading="loading" color="primary" @click="protectTags">
                Protect tags
              </v-btn>
              <v-btn class="mx-2" :loading="loading" color="primary" @click="unprotectTags">
                Unprotect tags
              </v-btn>
              <v-btn :disabled="!protectBranch" class="mx-2" :loading="loading" color="primary" @click="protectBranches">
                Protect branches
              </v-btn>
              <v-btn :disabled="!protectBranch" class="mx-2" :loading="loading" color="primary" @click="unprotectBranches">
                Unprotect branches
              </v-btn>
            </div>
          </v-row>
          <v-row justify="center">
            <v-col cols="4">
              <v-text-field
                v-model="protectBranch"
                label="Branch pattern to protect/unprotect"
                required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-container fluid>
          <v-layout column align-center>
            <v-data-table
                :hide-default-footer="true"
                :items-per-page="1000"
                :headers="headers"
                :single-expand="false"
                :loading="loading"
                item-key="name"
                :items="projects"
                v-model="selectedProjects"
                show-select
            >
            </v-data-table>

          </v-layout>
        </v-container>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
  import { get, post, del } from '@/utils/axios'
  import {mapGetters} from 'vuex'
  import {sortBy} from 'underscore'

  export default {
    name: 'Projects',
    data: () => ({
      projects: [],
      loading: false,
      selectedProjects: []
    }),
    mounted() {
      this.fetchProjects()
    },
    computed: {
      ...mapGetters({
        groups: 'gitlab/groups'
      }),
      headers() {
        return [
          { text: 'Name', value: 'name' },
          { text: 'Protected branches', value: 'protected_branches' },
          { text: 'Protected tags', value: 'protected_tags' }
        ]
      },
      group: {
        get() {
          return this.$store.getters['projectsSettings/group']
        },
        set(value) {
          this.$store.dispatch('projectsSettings/setGroup', value)
          this.fetchProjects()
        }
      },
      protectBranch: {
        get() {
          return this.$store.getters['projectsSettings/branch']
        },
        set(value) {
          this.$store.dispatch('projectsSettings/setBranch', value)
        }
      }

    },
    methods: {
      async fetchProjects() {
        if (this.group) {
          this.loading = true
          try {
            const projects = (await get(`groups/${this.group.id}/projects?include_subgroups=true`)).data
            await Promise.all(projects.map(async (project) => {
              const protected_branches = (await get(`projects/${project.id}/protected_branches`)).data
              project.protected_branches = protected_branches.map(branch => branch.name)
              project.name = project.name_with_namespace.replace(this.group.full_name, '').substring(3)
              await this.refreshTags(project)
            }))
            this.projects = sortBy(projects, 'name')
          } catch {
            this.projects = []
          }
          this.loading = false
        }
      },
      async refreshTags(project) {
        const protected_tags = (await get(`projects/${project.id}/protected_tags`)).data
        project.protected_tags = protected_tags.map(tag => tag.name)
      },
      async refreshBranches(project) {
        const protected_branches = (await get(`projects/${project.id}/protected_branches`)).data
        project.protected_branches = protected_branches.map(branch => branch.name)
      },
      async protectTags() {
        this.loading = true
        await Promise.all(this.selectedProjects.map(async (project) => {
          try {
            await post(`projects/${project.id}/protected_tags?name=*&create_access_level=30`)
          } catch {
            // insufficient rights or already protected
          }
          await this.refreshTags(project)
        }))
        this.loading = false
      },
      async unprotectTags() {
        this.loading = true
        await Promise.all(this.selectedProjects.map(async (project) => {
          try {
            await del(`projects/${project.id}/protected_tags/*`)
          } catch {
            // insufficient rights or not protected
          }
          await this.refreshTags(project)
        }))
        this.loading = false
      },
      async protectBranches() {
        this.loading = true
        await Promise.all(this.selectedProjects.map(async (project) => {
          try {
            await post(`projects/${project.id}/protected_branches?name=${this.protectBranch}&push_access_level=0&merge_access_level=30&unprotect_access_level=40`)
          } catch {
            // insufficient rights or already protected
          }
          await this.refreshBranches(project)
        }))
        this.loading = false
      },
      async unprotectBranches() {
        this.loading = true
        await Promise.all(this.selectedProjects.map(async (project) => {
          try {
            await del(`projects/${project.id}/protected_branches/${this.protectBranch}`)
          } catch {
            // insufficient rights or not protected
          }
          await this.refreshBranches(project)
        }))
        this.loading = false
      }
    }
  };
</script>
