<template>
  <v-form>
    <v-container>
      <v-card>
        <v-container fluid>
          <v-layout column align-center>
            <v-row>
              <v-col>
                <v-btn class="mx-2" :loading="loadingRunningPipelines" color="primary" @click="fetchPipelines">
                  Refresh
                </v-btn>
              </v-col>
            </v-row>

            <pipelines
                :displayUser="true"
                :pipelines="this.runningPipelines || []"
                :displayBranchName="true"
                :display-merge-requests="true"
                :showActions="false"
            ></pipelines>

          </v-layout>
        </v-container>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
  import Pipelines from './Pipelines'
  import { mapGetters } from "vuex"

  export default {
    name: 'RunningPipelines',
    components: {
      Pipelines
    },
    beforeRouteUpdate(to, from, next) {
      const routes = this.selectedBranchesAndTags.map(branch => '/dashboard/' + branch)
      next(routes.indexOf(to.fullPath) >= 0)
    },
    data: () => ({
      projectsLoading: false,
      loading: false
    }),
    async mounted() {
      this.fetchPipelines()
    },
    computed: {
      ...mapGetters({
        projects: 'gitlab/projects',
        loadingRunningPipelines: 'loaders/loadingRunningPipelines',
        runningPipelines: 'runningPipelines/runningPipelines'
      }),
      headers() {
        return [
          { text: 'Status', value: 'status' },
          { text: 'Project', value: 'project.name' }
        ]
      }
    },
    methods: {
      async fetchProjects() {
        await this.$store.dispatch('gitlab/fetchProjects')
      },
      fetchPipelines() {
        this.$store.dispatch('runningPipelines/fetch')
      }
    }
  };
</script>
