<template>
  <v-menu
      ref="menu"
      v-model="menu"
      @input="onMenu()"
      :close-on-content-click="false"
  >

    <template v-slot:activator="{ on, attrs }">
      <v-btn
          :small="true"
          text icon
          v-bind="attrs"
          v-on="on"
      >
        <v-icon>add</v-icon>
      </v-btn>
    </template>
    <div>
      <v-list>
        <v-subheader dense>Add branch</v-subheader>
        <v-list-item>
          <v-text-field
              ref="filter"
              dense
              label="Filter branch"
              autofocus
              v-model="filter"
          ></v-text-field>
        </v-list-item>
      </v-list>
      <v-list v-if="filteredBranches" subheader style="max-height: 300px;overflow-y:auto;">
        <v-list-item
            v-if="forceBranch"
            :key="filter"
            @click="selectBranch(filter)"
        >
          <v-list-item-title><i>{{ filter }}</i></v-list-item-title>
        </v-list-item>
        <v-list-item
            v-for="branch in filteredBranches"
            :key="branch"
            @click="selectBranch(branch)"
        >
          <v-list-item-title>{{ branch }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </div>
  </v-menu>
</template>

<script>
import { GlTooltipDirective } from '@gitlab/ui'
import { mapGetters } from 'vuex'

export default {
  name: 'SelectBranches',
  props: {
    sortedBranches: Array,
    value: Array
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  data: () => ({
    menu: false,
    filter: null
  }),
  computed: {
    ...mapGetters({
      recentUsers: 'gitlab/recentUsers'
    }),
    forceBranch() {
      return this.filter && !this.filteredBranches.includes(this.filter)
    },
    filteredBranches() {
      const branches = this.sortedBranches.filter(branch => {
        if (this.value.includes(branch)) {
          return false
        }
        return !this.filter || branch.includes(this.filter)
      })

      return branches
    }
  },
  methods: {
    async onMenu() {
      if (this.menu) {
        this.$refs.menu.activate()
        this.$nextTick(() => {
          this.$refs.filter.$refs.input.select()
        })
      }
    },
    selectBranch(branch) {
      this.$emit('select', branch)
      this.menu = false
    }
  }
}
</script>