<template>
  <v-container grid-list-xl>
    <v-form>
      <v-card>
        <v-container grid-list-xl>
          <v-row>
            <v-col
                xs="12"
                md="12"
                align-self="center"
            >
              <span class="mr-2 h6">Gitlab</span>
              <v-icon v-if="gitlabUser" color="success">mdi-check-circle</v-icon>
              <span v-if="gitlabUser">Logged in as {{gitlabUser.name}}</span>
              <v-icon v-else color="error">mdi-alert-circle</v-icon>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                xs="12"
                md="4"
            >
              <v-text-field
                  v-bind:value="gitlabURL"
                  v-on:blur="gitlabURL = $event.target.value"
                  label="Gitlab URL"
                  required
                  validate-on-blur
              ></v-text-field>
            </v-col>

            <v-col
                xs="12"
                md="2"
            >
              <v-text-field
                  v-bind:value="gitlabToken"
                  v-on:blur="gitlabToken = $event.target.value"
                  label="Gitlab Token"
                  required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                xs="12"
            >
              <v-combobox
                  v-model="selectedGroups"
                  :loading="loadingGroups"
                  :items="groups"
                  item-text="full_name"
                  :return-object="true"
                  small-chips
                  deletable-chips
                  multiple
                  label="Groups"
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row align="center" class="ml-0">
            <v-col
                xs="12"
                md="10"
            >
              <v-combobox
                  v-model="ignoredProjects"
                  :items="projects"
                  item-text="name_with_namespace"
                  :return-object="true"
                  small-chips
                  deletable-chips
                  multiple
                  clearable
                  label="Ignored projects"
              ></v-combobox>
            </v-col>
            <v-col
                xs="12"
                md="2"
            >
              <v-row align="center" class="ml-0">
                Found {{projects.length}} projects
              </v-row>
              <v-row>
                <v-btn :loading="loadingProjects" class="mx-2" color="primary" @click="fetchProjects">
                  Refresh
                </v-btn>
              </v-row>
              <v-flex>
              </v-flex>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      <v-card>
        <v-container>
          <v-row>
            <v-col
                xs="12"
                md="12"
                align-self="center"
            >
              <span class="mr-2 h6">Nexus</span>
              <v-icon v-if="nexusCurrentUser" color="success">mdi-check-circle</v-icon>
              <span v-if="nexusCurrentUser">
                Logged in as {{nexusCurrentUser.firstName}} {{nexusCurrentUser.lastName}}
              </span>
              <v-icon v-else color="error">mdi-alert-circle</v-icon>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                xs="12"
                md="4"
            >
              <v-text-field
                  v-bind:value="nexusURL"
                  v-on:blur="nexusURL = $event.target.value"
                  label="Nexus API URL"
                  required
              ></v-text-field>
            </v-col>

            <v-col
                xs="12"
                md="2"
            >
              <v-text-field
                  v-bind:value="nexusLogin"
                  v-on:blur="nexusLogin = $event.target.value"
                  label="Nexus Login"
                  required
              ></v-text-field>
            </v-col>

            <v-col
                xs="12"
                md="2"
            >
              <v-text-field
                  v-bind:value="nexusPassword"
                  v-on:blur="nexusPassword = $event.target.value"
                  label="Nexus Password"
                  type="password"
                  required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                xs="12"
                md="4"
            >
              <v-select
                  v-model="dockerRepository"
                  :items="dockerRepositories"
                  item-text="name"
                  :return-object="true"
                  label="Docker Repository"
              ></v-select>
            </v-col>

          </v-row>
        </v-container>
      </v-card>
      <v-card>
        <v-container>
          <v-row>
            <v-col
                xs="12"
                md="12"
                align-self="center"
            >
              <span class="mr-2 h6">Jira</span>
              <v-icon v-if="jiraCurrentUser" color="success">mdi-check-circle</v-icon>
              <span v-if="jiraCurrentUser">Logged in as {{jiraCurrentUser.displayName}}</span>
              <v-icon v-else color="error">mdi-alert-circle</v-icon>
            </v-col>
          </v-row>
          <v-row>
            <v-col
                xs="12"
                md="4"
            >
              <v-text-field
                  v-bind:value="jiraURL"
                  v-on:blur="jiraURL = $event.target.value"
                  label="Jira URL"
                  required
              ></v-text-field>
            </v-col>
            <v-col
                xs="12"
                md="2"
            >
              <v-text-field
                  v-bind:value="jiraLogin"
                  v-on:blur="jiraLogin = $event.target.value"
                  label="Jira Login"
                  required
              ></v-text-field>
            </v-col>

            <v-col
                xs="12"
                md="2"
            >
              <v-text-field
                  v-bind:value="jiraPassword"
                  v-on:blur="jiraPassword = $event.target.value"
                  label="Jira Token"
                  required
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-form>
  </v-container>
</template>

<script>
  import {mapGetters} from "vuex"

  export default {
    name: 'Settings',
    data: () => ({
      loading: false,
      branchesLoading: false
    }),
    async mounted() {
      await this.fetchGroups()
      await this.fetchProjects()
      await this.$store.dispatch('gitlab/validate')
      await this.$store.dispatch('nexus/validate')
      await this.$store.dispatch('jira/validate')
    },
    computed: {
      ...mapGetters({
        loadingGroups: 'loaders/loadingGroups',
        groups: 'gitlab/groups',
        projects: 'gitlab/projects',
        loadingProjects: 'loaders/loadingProjects',
        branches: 'gitlab/branches',
        gitlabUser: 'gitlab/currentUser',
        jiraCurrentUser: 'jira/currentUser',
        nexusCurrentUser: 'nexus/currentUser'
      }),
      dockerRepositories() {
        return this.$store.getters['nexus/repositories'].filter(repo => repo.format === 'docker')
      },
      nexusURL: {
        get() {
          return this.$store.getters['nexus/URL']
        },
        set(value) {
          this.$store.dispatch('nexus/setURL', value)
        }
      },
      nexusLogin: {
        get() {
          return this.$store.getters['nexus/login']
        },
        set(value) {
          this.$store.dispatch('nexus/setLogin', value)
        }
      },
      nexusPassword: {
        get() {
          return this.$store.getters['nexus/password']
        },
        set(value) {
          this.$store.dispatch('nexus/setPassword', value)
        }
      },
      dockerRepository: {
        get() {
          return this.$store.getters['nexus/dockerRepository']
        },
        set(value) {
          this.$store.dispatch('nexus/setDockerRepository', value)
        }
      },
      gitlabURL: {
        get() {
          return this.$store.getters['gitlab/URL']
        },
        set(value) {
          this.$store.dispatch('gitlab/setURL', value)
        }
      },
      gitlabToken: {
        get() {
          return this.$store.getters['gitlab/password']
        },
        set(value) {
          this.$store.dispatch('gitlab/setPassword', value)
        }
      },
      selectedGroups: {
        get() {
          return this.$store.getters['gitlab/selectedGroups']
        },
        set(value) {
          this.$store.dispatch('gitlab/selectGroups', value)
        }
      },
      ignoredProjects: {
        get() {
          return this.$store.getters['gitlab/ignoredProjects']
        },
        set(value) {
          this.$store.dispatch('gitlab/setIgnoredProjects', value)
        }
      },
      jiraURL: {
        get() {
          return this.$store.getters['jira/URL']
        },
        set(value) {
          this.$store.dispatch('jira/setURL', value)
        }
      },
      jiraLogin: {
        get() {
          return this.$store.getters['jira/login']
        },
        set(value) {
          this.$store.dispatch('jira/setLogin', value)
        }
      },
      jiraPassword: {
        get() {
          return this.$store.getters['jira/password']
        },
        set(value) {
          this.$store.dispatch('jira/setPassword', value)
        }
      },
    },
    methods: {
      async fetchProjects() {
        await this.$store.dispatch('gitlab/fetchProjects')
      },
      async fetchGroups() {
        await this.$store.dispatch('gitlab/fetchGroups')
      }
    }
  };
</script>

<style lang="scss" scoped>
.v-card {
  margin-bottom: 1em;
}
</style>