<template>
  <v-app>
    <v-main>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-row  md="auto">
            <v-col class="col-md-4 offset-md-4">
            <v-card class="elevation-12">
              <v-card-title dark color="primary">
                Setup
              </v-card-title>
              <v-card-subtitle>
                Please enter Gitlab URL and a valid gitlab token to use the application.
              </v-card-subtitle>
              <v-card-text>
                <form ref="form">
                  <v-text-field label="Gitlab URL" v-model="gitlabURL"></v-text-field>
                  <v-text-field required label="Gitlab Token" v-model="gitlabToken"></v-text-field>
                  <div v-if="gitlabUser">
                    <v-icon color="success">mdi-check-circle</v-icon>
                    <span v-if="gitlabUser">Logged in as {{gitlabUser.name}}</span>
                  </div>
                  <v-flex style="flex-direction:column; align-items:center">
                    <span>{{loadingMessage}}</span>
                  </v-flex>
                </form>
              </v-card-text>
              <v-card-actions>

                <v-flex style="flex-direction:column; align-items:center">
                  <v-btn class="mx-2" :loading="!!loadingMessage" :disabled="!valid" color="primary" @click="validate">
                    Next
                  </v-btn>
                </v-flex>
              </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-layout>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  import { mapGetters } from "vuex"
  import store from '@/store/store'

  export default {
    name: 'Settings',
    async activated() {
      this.$vuetify.theme.dark = true
      await this.$store.dispatch('gitlab/check')
      if (this.gitlabUser) {
        await this.validate()
      }
    },
    computed: {
      ...mapGetters({
        valid: 'gitlab/valid',
        gitlabUser: 'gitlab/currentUser',
        loadingMessage: 'loaders/loadingMessage',
        branches: 'gitlab/branches',
      }),
      gitlabURL: {
        get() {
          return this.$store.getters['gitlab/URL']
        },
        async set(value) {
          await this.$store.dispatch('gitlab/setURL', value)
          await this.update()
        }
      },
      gitlabToken: {
        get() {
          return this.$store.getters['gitlab/password']
        },
        async set(value) {
          await this.$store.dispatch('gitlab/setPassword', value)
          await this.update()
        }
      }
    },
    methods: {
      async update() {
        const defaultBranches = new Set()
        const branchesToSelect = new Set()
        for (const [branchName, branches] of Object.entries(this.branches)) {
          for (const branch of Object.values(branches)) {
            if (branch.default) {
              defaultBranches.add(branchName)
            }
          }
        }
        for (const branch of this.$store.getters['gitlab/eventsBranches']) {
          if (!defaultBranches.has(branch)) {
            branchesToSelect.add(branch)
          }
        }
        await this.$store.dispatch('pipelines/setBranches', [
            ...Array.from(defaultBranches),
            ...Array.from(branchesToSelect).reverse()
        ])
      },
      async validate() {
        await store.dispatch('loaders/setLoadingApp', false)
        await store.dispatch('loaders/setFetched', true)
        await this.$router.push({ name: 'pipelines:branches' })
      }
    }
  }
</script>
