<template>
  <v-container fluid>
    <v-layout column align-center>
      <v-row>
        <v-col>
          <v-container fluid>
            <v-btn class="mx-2" :loading="refreshing" color="primary" @click="refresh">
              Refresh
            </v-btn>
            <v-btn class="mx-2" :loading="refreshingRunning" color="primary" @click="refreshRunning">
              Refresh Running
            </v-btn>
          </v-container>
        </v-col>
      </v-row>

      <pipelines
          :loading="false"
          :pipelines="pipelines"
          :displayBranchName="true"
          :display-merge-requests="false"
          :showActions="true"
          :reference-branch="null"
          @autoRefresh="autoRefresh"
          @refresh="refreshPipeline"
      ></pipelines>
    </v-layout>
  </v-container>
</template>

<script>
  import { GlTooltipDirective } from '@gitlab/ui'
  import { get } from '@/utils/axios'
  import Pipelines from './Pipelines'
  import {mapGetters} from 'vuex'
  import Vue from 'vue'
  import {getPipelines} from '@/utils/pipelines'

  export default {
    name: 'TagsPipelines',
    components: {
      Pipelines
    },
    directives: {
      GlTooltip: GlTooltipDirective,
    },
    props: {
      branchName: String
    },
    data: () => ({
      fetchingDockerImages: false,
      dockerImages: [],
      refreshing: false,
      refreshingRunning: false,
      dockerLoading: false,
      timer: null,
      now: null,
      pipelines: []
    }),
    mounted() {
      this.refresh()
    },
    computed: {
      ...mapGetters({
        projects: 'gitlab/projects',
        selectedProjects: 'gitlab/selectedProjects'
      })
    },
    methods: {
      async getProjectPipeline(project) {
        const pipeline = await this.loadItemPipeline({project})
        if (!pipeline) {
          return null
        }
        return await this.loadPipeline(project, pipeline.ref)
      },
      async loadItemPipeline(item) {
        let url = `projects/${item.project.id}/pipelines?sort=desc&scope=tags`
        const pipelines = (await get(url, true)).data

        if (pipelines) {
          return pipelines[0]
        }
        return null
      },
      async loadPipeline(project, branchName) {
        let result = null

        const pipelines = await getPipelines([project.id], branchName)

        if (!pipelines.length) {
          return null
        }

        const pipeline = pipelines[0].pipeline
        pipeline.ref = branchName
        result = {
          project,
          pipeline,
          merge: null,
          commits: null,
          behind: null,
          target_branch: null
        }


        result.finished_at = result.pipeline.finished_at
        result.duration = result.pipeline.duration

        return result
      },
      async fetchPipelineProjects() {
        this.loading = true
        await this.$store.dispatch('gitlab/fetchTags')
        await this.refresh()
      },
      async refreshRunning() {
        if (this.refreshingRunning) {
          return
        }
        this.refreshingRunning = true
        await Promise.all(this.pipelines.map(async (pipeline) => {
          if (pipeline.pipeline.status.label === 'running' || pipeline.pipeline.status.label === 'created') {
            await this.refreshPipeline(pipeline.pipeline.id)
          }
        }))
        this.refreshingRunning = false
      },
      async autoRefresh() {
        await this.refresh()
      },
      async refreshPipeline({pipelineId, done}) {
        const pipelineIndex = this.pipelines.findIndex(p => p.pipeline.id == pipelineId)
        const item = this.pipelines[pipelineIndex]
        const newItem = await this.loadPipeline(item.project, item.pipeline.ref)
        if (newItem) {
          Vue.set(this.pipelines, pipelineIndex, newItem)
        } else {
          this.pipelines.splice(pipelineIndex, 1);
        }
        if (done) {
          done()
        }
      },
      getProject(id) {
        return this.projects.find(p => p.id == id)
      },
      async refresh() {
        if (this.refreshing) {
          return
        }
        this.refreshing = true
        try {
          let projects = this.selectedProjects

          const tmpPipelines = []

          await Promise.all(projects.map(async (project) => {
            const result = await this.getProjectPipeline(project)
            if (result) {
              tmpPipelines.push(result)
            }
          }))

          this.pipelines = tmpPipelines
        } finally {
          this.refreshing = false
        }
      }
    }
  };
</script>

<style lang="scss">
  .v-stepper.theme--light {
    box-shadow: none;
    background-color: unset;
  }

  .mdi-check-circle-outline {
    color: #1aaa55 !important;
  }
  .mdi-close-circle-outline {
    color: #db3b21 !important;
  }
  .mdi-alert-circle-outline, .mdi-pause-circle-outline {
    color: #fc9403 !important;
  }
  .mdi-timelapse {
    color: #1f78d1 !important;
  }
</style>
