<template>
  <v-form>
    <v-container>
      <v-card>
        <v-container fluid>
          <v-layout column align-center>
            <v-row>
              <v-container>
                <v-btn class="mx-2" :loading="loading" color="primary" @click="fetchPipelines">
                  Refresh
                </v-btn>
              </v-container>
            </v-row>

            <pipelines
              :pipelines="pipelines"
              :displayBranchName="true"
              :display-merge-requests="true"
              :showActions="false"
              @autoRefresh="fetchPipelines"
            ></pipelines>

          </v-layout>
        </v-container>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
  import { get } from '@/utils/axios'
  import { getPipelines, loadMergeRequest } from '@/utils/pipelines'
  import Pipelines from './Pipelines'
  import {mapGetters} from "vuex"

  export default {
    name: 'UserReviews',
    components: {
      Pipelines
    },
    props: {
      username: String
    },
    data: () => ({
      projectsLoading: false,
      loading: false,
      pipelines: []
    }),
    async mounted() {
      await this.fetchPipelines()
    },
    computed: {
      ...mapGetters({
        projects: 'gitlab/selectedProjects'
      }),
      headers() {
        return [
          { text: 'Status', value: 'status' },
          { text: 'Project', value: 'project.name' }
        ]
      }
    },
    methods: {
      async fetchProjects() {
        await this.$store.dispatch('gitlab/fetchProjects')
      },
      async fetchPipelines() {
        this.loading = true
        const mergeRequests = (await get(`/merge_requests?scope=all&state=opened&reviewer_username=${this.username}`)).data
        const allPipelines = []
        const promises = mergeRequests.map(async mergeRequest => {
          const pipelines = await getPipelines([mergeRequest.project_id], mergeRequest.source_branch)
          if (pipelines) {
            const pipeline = pipelines[0]
            pipeline.pipeline.ref = mergeRequest.source_branch
            await loadMergeRequest(pipelines, mergeRequest.source_branch)
            allPipelines.push(pipeline)
          }
        })
        await Promise.all(promises)
        this.pipelines = allPipelines
        this.loading = false
      }
    },
    watch: {
      '$route' () {
        this.fetchPipelines()
      }
    }
  }
</script>
