<template>
  <v-form>
    <v-container grid-list-xl>
      <v-card>
        <v-container grid-list-xl>
          <v-row align="center" class="ml-0">
            <v-col
                xs="12"
                md="4"
            >
              <v-combobox
                  v-model="user"
                  :items="gitlabUsers"
                  label="Triggerer"
                  item-text="name"
                  @input="onUser"
              >
                <template v-slot:item="{ item }">
                  <div style="padding: 2px;">
                    <v-avatar
                        size="32"
                        style="margin-right: 0.5em;"
                    >
                      <v-img :src="item.avatar_url"></v-img>
                    </v-avatar>
                    <span>{{item.name}}</span>
                  </div>
                </template>
                <template v-slot:prepend-inner>
                  <v-avatar v-if="user"
                      size="24"
                      style="margin-right: 0.5em;"
                  >
                    <v-img :src="user.avatar_url"></v-img>
                  </v-avatar>
                </template>
              </v-combobox>
            </v-col>
            <v-col
                xs="12"
                md="2"
                align-self="center"
            >
              <v-select
                  v-model="days"
                  item-value="days"
                  :items="ages"
                  label="Updated since"
              ></v-select>
            </v-col>
            <v-col
              xs="12"
              md="2"
              align-self="center"
            >
              <v-select
                label="Scope"
                v-model="scope"
                :items="scopes"
              >
              </v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <transition>
      <keep-alive>
        <router-view ref="userPipelines">
        </router-view>
      </keep-alive>
    </transition>
  </v-form>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'UsersPipelines',
    data: () => ({
      user: null,
      ages: [{
        days: 1,
        text: '1 day'
      }, {
        days: 2,
        text: '2 days'
      }, {
        days: 7,
        text: '1 week'
      }],
      scopes: ['All', 'Running', 'Pending', 'Finished', 'Branches', 'Tags']
    }),
    mounted() {
      this.onUser()
    },
    computed: {
      ...mapGetters({
        gitlabUsers: 'gitlab/allUsers',
        currentUser: 'gitlab/currentUser'
      }),
      days: {
        get() {
          return this.$store.getters['userPipelines/days']
        },
        set(value) {
          this.$store.dispatch('userPipelines/setDays', value)
          this.$refs['userPipelines'].fetchPipelines()
        }
      },
      scope: {
        get() {
          return this.$store.getters['userPipelines/scope']
        },
        set(value) {
          this.$store.dispatch('userPipelines/setScope', value)
          this.$refs['userPipelines'].fetchPipelines()
        }
      }
    },
    methods: {
      onUser() {
        this.$nextTick(() => {
          if (!this.user) {
            this.user = this.gitlabUsers.find(u => u.username == this.$route.params.username)
            if (!this.user) {
              this.user = this.currentUser
            }
          }
          if (this.$route.params.username !== this.user.username) {
            this.$store.dispatch('userPipelines/setUser', this.user.username)
            this.$router.push({ name: 'pipelines:users:user', params: { username: this.user.username } })
          }
        })
      }
    }
  };
</script>
<style>
</style>
