<template>
  <v-form>
    <v-container>
      <v-card>
        <v-container fluid>
          <v-layout column align-center>
            <v-row>
              <v-container>
                <v-btn class="mx-2" :loading="loading" color="primary" @click="fetchPipelines">
                  Refresh
                </v-btn>
              </v-container>
            </v-row>

            <pipelines
              :pipelines="pipelines"
              :displayBranchName="true"
              :display-merge-requests="true"
              :showActions="false"
              @autoRefresh="fetchPipelines"
            ></pipelines>

          </v-layout>
        </v-container>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
  import { getPipelines } from '@/utils/pipelines'
  import Pipelines from './Pipelines'
  import {mapGetters} from "vuex"

  export default {
    name: 'UserPipelines',
    components: {
      Pipelines
    },
    props: {
      username: String
    },
    data: () => ({
      projectsLoading: false,
      loading: false,
      pipelines: []
    }),
    async mounted() {
      await this.fetchPipelines()
    },
    computed: {
      ...mapGetters({
        projects: 'gitlab/selectedProjects',
        days: 'userPipelines/days'
      }),
      headers() {
        return [
          { text: 'Status', value: 'status' },
          { text: 'Project', value: 'project.name' }
        ]
      }
    },
    methods: {
      async fetchProjects() {
        await this.$store.dispatch('gitlab/fetchProjects')
      },
      async fetchPipelines() {
        this.loading = true
        const scope = this.$store.getters['userPipelines/scope']
        const result = []
        const projectIds = this.projects.map(project => project.id)
        let date = new Date()
        date.setHours(date.getHours() - 24 * this.days)

        await Promise.all(projectIds.map(async (projectId) => {
          const pipelines = await getPipelines(
            [projectId], null, null, this.username, date.toISOString(),
            scope ? scope.toUpperCase() : null
          )
          result.push(...pipelines)
        }))

        this.pipelines = result
        this.loading = false
      }
    },
    watch: {
      '$route' () {
        this.fetchPipelines()
      }
    }
  }
</script>
