<template>
  <v-form>
    <v-container grid-list-xl>
      <v-card>
        <v-container grid-list-xl>
          <v-row align="center" class="ml-0">
            <v-col
                xs="12"
                md="4"
            >
              <v-combobox
                  v-model="user"
                  :items="gitlabUsers"
                  label="Reviewer"
                  item-text="name"
                  @input="onUser"
              >
                <template v-slot:item="{ item }">
                  <div style="padding: 2px;">
                    <v-avatar
                        size="32"
                        style="margin-right: 0.5em;"
                    >
                      <v-img :src="item.avatar_url"></v-img>
                    </v-avatar>
                    <span>{{item.name}}</span>
                  </div>
                </template>
                <template v-slot:prepend-inner>
                  <v-avatar v-if="user"
                      size="24"
                      style="margin-right: 0.5em;"
                  >
                    <v-img :src="user.avatar_url"></v-img>
                  </v-avatar>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
    <transition>
      <keep-alive>
        <router-view ref="userReviews">
        </router-view>
      </keep-alive>
    </transition>
  </v-form>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'UsersReviews',
    data: () => ({
      user: null
    }),
    mounted() {
      this.onUser()
      this.$store.dispatch('gitlab/fetchAllUsers')
    },
    computed: {
      ...mapGetters({
        gitlabUsers: 'gitlab/allUsers',
        currentUser: 'gitlab/currentUser'
      })
    },
    methods: {
      onUser() {
        this.$nextTick(() => {
          if (!this.user) {
            this.user = this.gitlabUsers.find(u => u.username == this.$route.params.username)
            if (!this.user) {
              this.user = this.currentUser
            }
          }
          if (this.$route.params.username !== this.user.username) {
            this.$store.dispatch('userReviews/setUser', this.user.username)
            this.$router.push({ name: 'pipelines:reviews:user', params: { username: this.user.username } })
          }
        })
      }
    }
  };
</script>
<style>
</style>