<template>
  <v-app id="inspire" theme="dark">
    <v-navigation-drawer
        v-model="drawer"
        v-if="!loadingApp"
        app
    >
      <v-list
          subheader
          flat>
        <v-subheader>Pipelines</v-subheader>
        <v-list-item-group
            multiple
        >
          <v-list-item :to="{ name: 'pipelines:branches'}">
            <v-list-item-action>
              <v-icon>mdi-source-branch</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Branches</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'pipelines:tags'}">
            <v-list-item-action>
              <v-icon>mdi-tag</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Tags</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'pipelines:running'}">
            <v-list-item-action>
              <v-icon>mdi-circle-slice-5</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <span>Running</span>
                <v-badge
                    style="margin: 0"
                    inline
                    color="primary"
                    :value="runningPipelines && runningPipelines.length"
                    :content="runningPipelines && runningPipelines.length"
                >

                </v-badge>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'pipelines:users'}">
            <v-list-item-action>
              <v-icon>mdi-account</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <span>User pipelines</span>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'pipelines:reviews'}">
            <v-list-item-action>
              <v-icon>mdi-source-pull</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <span>Reviews</span>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item :to="{ name: 'projects'}">
            <v-list-item-action>
              <v-icon>settings</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-list-item-title>Gitlab Projects Settings</v-list-item-title>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'artifacts'}">
            <v-list-item-action>
              <v-icon>archive</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-list-item-title>Gitlab Artifacts</v-list-item-title>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'docker-images'}">
            <v-list-item-action>
              <v-icon>mdi-docker</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Docker images</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'npm-assets'}">
            <v-list-item-action>
              <v-icon>mdi-npm</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>npm assets</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item :to="{ name: 'logs'}">
            <v-list-item-action>
              <v-icon>mdi-file-alert-outline</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <v-badge
                    color="primary"
                    :value="errorCount"
                    :content="errorCount"
                >
                  <span>Logs</span>
                </v-badge>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item :to="{ name: 'settings'}">
            <v-list-item-action>
              <v-icon>settings</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <v-divider></v-divider>
      <v-list
          subheader
          flat
      >
        <v-subheader>Options</v-subheader>
        <v-list-item-group
            multiple
        >
          <v-btn class="mx-2" :loading="loadingProjects" color="primary" @click="fetchData">
            Fetch
          </v-btn>

          <v-list-item>
            <template v-slot:default="{ active, toggle }">
              <v-list-item-action>
                <v-switch
                    :dense="true"
                    v-model="darkMode"
                ></v-switch>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>Dark mode</v-list-item-title>
              </v-list-item-content>
            </template>
          </v-list-item>

          <v-list-item>
            <template v-slot:default="{ active, toggle }">
              <v-list-item-action>
                <v-switch
                    :dense="true"
                    v-model="autoRefresh"
                ></v-switch>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>Auto Refresh (5s)</v-list-item-title>
              </v-list-item-content>
            </template>
          </v-list-item>

        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
        app
        color="indigo"
        dark
        dense
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-alert
          v-if="!gitlabValid"
          dense
          type="error"
          style="margin: 24px"
      >
        Failed to contact {{gitlabURL}}
      </v-alert>
      <v-alert
          v-if="newVersionAvailable"
          dense
          type="info"
          style="margin: 24px"
      >
        A new version is available.
        <b><a style="color:inherit" href="javascript:window.location.reload(true)">Click here to refresh</a></b>
      </v-alert>
      <v-spacer></v-spacer>

      <v-btn text v-if="user" :href="user.web_url" target="_blank">
        <v-avatar size="32"
                  style="margin-right: 0.5em;">
          <v-img :src="user.avatar_url"
          ></v-img>
        </v-avatar>
        <span>{{user.name}}</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <transition>
        <keep-alive>
          <router-view/>
        </keep-alive>
      </transition>
    </v-main>
    <v-footer
        color="indigo"
        app
    >
      <span class="white--text">BUILD_VERSION built on BUILD_DATE</span>
    </v-footer>

    <v-overlay :opacity="1" :value="loadingApp">
      <div class="d-flex flex-column align-center">
        <v-progress-circular
            indeterminate
            color="primary"
        ></v-progress-circular>
        <span>{{loadingMessage}}</span>
      </div>
    </v-overlay>
  </v-app>
</template>

<script>
  import { mapGetters } from 'vuex'
  import axios from "axios";
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      newVersionAvailable: false
    }),
    async mounted() {
      this.updateColors()
      setInterval(() => {
        if (!document.hidden) {
          this.$store.dispatch('runningPipelines/fetch')
        }
      }, 10000);
      this.fetchVersion()
    },
    computed: {
      ...mapGetters({
        gitlabURL: 'gitlab/URL',
        gitlabValid: 'gitlab/valid',
        errorCount: 'notifications/count',
        loadingProjects: 'loaders/loadingProjects',
        user: 'gitlab/currentUser',
        runningPipelines: 'runningPipelines/runningPipelines',
        loadingApp: 'loaders/loadingApp',
        loadingMessage: 'loaders/loadingMessage'
      }),
      error() {
        return this.errors.length > 0 ? this.errors[this.errors.length - 1] : null
      },
      darkMode: {
        get() {
          return this.$store.getters['display/darkMode']
        },
        set(darkMode) {
          this.$store.dispatch('display/setDarkMode', darkMode)
          this.updateColors()
        }
      },
      autoRefresh: {
        get() {
          return this.$store.getters['display/autoRefresh']
        },
        set(autoRefresh) {
          this.$store.dispatch('display/setAutoRefresh', autoRefresh)
        }
      },
      title() {
        return this.$route.meta.title(this.$route)
      }
    },
    methods: {
      async fetchVersion() {
        const timer = ms => new Promise(res => setTimeout(res, ms))
        while (true) {
          try {
            const response = await axios.get(`version?time=${new Date().getTime()}`)
            this.newVersionAvailable = response.data != 'BUILD_VERSION'
          } catch (e) {
            if (e.response.status == 404) {
              return
            }
          }
          await timer(60000)
        }
      },
      async fetchData() {
        await this.$store.dispatch('gitlab/fetchGroups')
        await this.$store.dispatch('gitlab/fetchProjects')
      },
      updateColors() {
        document.documentElement.style.setProperty('--color', this.darkMode ? '#1E1E1E' : '#FFF')
        document.documentElement.style.setProperty('--color-highlight', this.darkMode ? '#616161' : '#eee')
        document.documentElement.style.setProperty('--text-color', this.darkMode ? '#FFF' : '#2e2e2e')
        this.$vuetify.theme.dark = this.darkMode
      }
    }
  }
</script>

<style lang="scss" scoped>
  .small {
    transform: scale(0.8);
    width: 100%;
  }
</style>

<style lang="scss">
:root {
  --color: #ff0000;
}

.v-list-item__action {
  margin: 0;
}
.v-list-item {
  min-height: 32px;
}

#stageDropdown {
  background-color: transparent;
}

.pipeline-tab-content {
  background-color: transparent;
}

.pipeline-graph .build .build-content {
  background-color: transparent;
}

.pipeline-graph .ci-action-icon-container.ci-action-icon-wrapper {
  background-color: transparent;
}

  button:focus {outline:0;}
  .theme--light.v-data-table tbody tr:hover {
    background: none !important;
  }

  a {
    text-decoration: none !important;
  }

  .v-divider {
    margin: 0
  }

  .v-input {
    label {
      margin-bottom:0;
    }
  }
</style>
